* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.container {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasArea {
  /** 15.6インチでちょうど良いの高さと幅 + 線幅2px **/
  width: 742px;
  height: 742px;
  border: solid 1px #ccc;
}
